@font-face {
font-family: 'SF Pro Display';
font-weight: 100;
font-style: normal;
src: url('SF-Pro-Display-Ultralight.woff2') format('woff2'),url('SF-Pro-Display-Ultralight.woff') format('woff')
}
@font-face {
font-family: 'SF Pro Display';
font-weight: 100;
font-style: italic;
src: url('SF-Pro-Display-UltralightItalic.woff2') format('woff2'),url('SF-Pro-Display-UltralightItalic.woff') format('woff')
}
@font-face {
font-family: 'SF Pro Display';
font-weight: 200;
font-style: normal;
src: url('SF-Pro-Display-Thin.woff2') format('woff2'),url('SF-Pro-Display-Thin.woff') format('woff')
}
@font-face {
font-family: 'SF Pro Display';
font-weight: 200;
font-style: italic;
src: url('SF-Pro-Display-ThinItalic.woff2') format('woff2'),url('SF-Pro-Display-ThinItalic.woff') format('woff')
}
@font-face {
font-weight: 300;
font-style: normal;
font-family: 'SF Pro Display';
src: url('SF-Pro-Display-Light.woff2') format('woff2'),url('SF-Pro-Display-Light.woff') format('woff')
}
@font-face {
font-weight: 300;
font-style: italic;
font-family: 'SF Pro Display';
src: url('SF-Pro-Display-LightItalic.woff2') format('woff2'),url('SF-Pro-Display-LightItalic.woff') format('woff')
}
@font-face {
font-family: 'SF Pro Display';
font-weight: 400;
font-style: normal;
src: url('SF-Pro-Display-Regular.woff2') format('woff2'),url('SF-Pro-Display-Regular.woff') format('woff')
}
@font-face {
font-family: 'SF Pro Display';
font-weight: 400;
font-style: italic;
src: url('SF-Pro-Display-RegularItalic.woff2') format('woff2'),url('SF-Pro-Display-RegularItalic.woff') format('woff')
}
@font-face {
font-weight: 500;
font-style: normal;
font-family: 'SF Pro Display';
src: url('SF-Pro-Display-Medium.woff2') format('woff2'),url('SF-Pro-Display-Medium.woff') format('woff')
}
@font-face {
font-family: 'SF Pro Display';
font-weight: 500;
font-style: italic;
src: url('SF-Pro-Display-MediumItalic.woff2') format('woff2'),url('SF-Pro-Display-MediumItalic.woff') format('woff')
}
@font-face {
font-family: 'SF Pro Display';
font-weight: 600;
font-style: normal;
src: url('SF-Pro-Display-Semibold.woff2') format('woff2'),url('SF-Pro-Display-Semibold.woff') format('woff')
}
@font-face {
font-family: 'SF Pro Display';
font-weight: 600;
font-style: italic;
src: url('SF-Pro-Display-SemiboldItalic.woff2') format('woff2'),url('SF-Pro-Display-SemiboldItalic.woff') format('woff')
}
@font-face {
font-family: 'SF Pro Display';
font-weight: 700;
font-style: normal;
src: url('SF-Pro-Display-Bold.woff2') format('woff2'),url('SF-Pro-Display-Bold.woff') format('woff')
}
@font-face {
font-family: 'SF Pro Display';
font-weight: 700;
font-style: italic;
src: url('SF-Pro-Display-BoldItalic.woff2') format('woff2'),url('SF-Pro-Display-BoldItalic.woff') format('woff')
}
@font-face {
font-family: 'SF Pro Display';
font-weight: 800;
font-style: normal;
src: url('SF-Pro-Display-Black.woff2') format('woff2'),url('SF-Pro-Display-Black.woff') format('woff')
}
@font-face {
font-family: 'SF Pro Display';
font-weight: 800;
font-style: italic;
src: url('SF-Pro-Display-BlackItalic.woff2') format('woff2'),url('SF-Pro-Display-BlackItalic.woff') format('woff')
}
@font-face {
font-family: 'SF Pro Display';
font-weight: 900;
font-style: normal;
src: url('SF-Pro-Display-Heavy.woff2') format('woff2'),url('SF-Pro-Display-Heavy.woff') format('woff')
}
@font-face {
font-family: 'SF Pro Display';
font-weight: 900;
font-style: italic;
src: url('SF-Pro-Display-HeavyItalic.woff2') format('woff2'),url('SF-Pro-Display-HeavyItalic.woff') format('woff')
}