@font-face {
	font-family: 'CS Display';
	font-weight: 100;
	font-style: normal;
	src: url('https://starjive.github.io/fonts/CS/CS-Display/CS-Display-Ultralight.otf') format('opentype');
}

@font-face {
	font-family: 'CS Display';
	font-weight: 100;
	font-style: italic;
	src: url('https://starjive.github.io/fonts/CS/CS-Display/CS-Display-UltralightItalic.otf') format('opentype');
}

@font-face {
	font-family: 'CS Display';
	font-weight: 200;
	font-style: normal;
	src: url('https://starjive.github.io/fonts/CS/CS-Display/CS-Display-Thin.otf') format('opentype');
}

@font-face {
	font-family: 'CS Display';
	font-weight: 200;
	font-style: italic;
	src: url('https://starjive.github.io/fonts/CS/CS-Display/CS-Display-ThinItalic.otf') format('opentype');
}

@font-face {
	font-weight: 300;
	font-style: normal;
	font-family: 'CS Display';
	src: url('https://starjive.github.io/fonts/CS/CS-Display/CS-Display-Light.otf') format('opentype');
}

@font-face {
	font-weight: 300;
	font-style: italic;
	font-family: 'CS Display';
	src: url('https://starjive.github.io/fonts/CS/CS-Display/CS-Display-LightItalic.otf') format('opentype');
}

@font-face {
	font-family: 'CS Display';
	font-weight: 400;
	font-style: normal;
	src: url('https://starjive.github.io/fonts/CS/CS-Display/CS-Display-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'CS Display';
	font-weight: 400;
	font-style: italic;
	src: url('https://starjive.github.io/fonts/CS/CS-Display/CS-Display-RegularItalic.otf') format('opentype');
}

@font-face {
	font-weight: 500;
	font-style: normal;
	font-family: 'CS Display';
	src: url('https://starjive.github.io/fonts/CS/CS-Display/CS-Display-Medium.otf') format('opentype');
}

@font-face {
	font-family: 'CS Display';
	font-weight: 500;
	font-style: italic;
	src: url('https://starjive.github.io/fonts/CS/CS-Display/CS-Display-MediumItalic.otf') format('opentype');
}

@font-face {
	font-family: 'CS Display';
	font-weight: 600;
	font-style: normal;
	src: url('https://starjive.github.io/fonts/CS/CS-Display/CS-Display-Semibold.otf') format('opentype');
}

@font-face {
	font-family: 'CS Display';
	font-weight: 600;
	font-style: italic;
	src: url('https://starjive.github.io/fonts/CS/CS-Display/CS-Display-SemiboldItalic.otf') format('opentype');
}

@font-face {
	font-family: 'CS Display';
	font-weight: 700;
	font-style: normal;
	src: url('https://starjive.github.io/fonts/CS/CS-Display/CS-Display-Bold.otf') format('opentype');
}

@font-face {
	font-family: 'CS Display';
	font-weight: 700;
	font-style: italic;
	src: url('https://starjive.github.io/fonts/CS/CS-Display/CS-Display-BoldItalic.otf') format('opentype');
}

@font-face {
	font-family: 'CS Display';
	font-weight: 800;
	font-style: normal;
	src: url('https://starjive.github.io/fonts/CS/CS-Display/CS-Display-Black.otf') format('opentype');
}

@font-face {
	font-family: 'CS Display';
	font-weight: 800;
	font-style: italic;
	src: url('https://starjive.github.io/fonts/CS/CS-Display/CS-Display-BlackItalic.otf') format('opentype');
}

@font-face {
	font-family: 'CS Display';
	font-weight: 900;
	font-style: normal;
	src: url('https://starjive.github.io/fonts/CS/CS-Display/CS-Display-Heavy.otf') format('opentype');
}

@font-face {
	font-family: 'CS Display';
	font-weight: 900;
	font-style: italic;
	src: url('https://starjive.github.io/fonts/CS/CS-Display/CS-Display-HeavyItalic.otf') format('opentype');
}

:root {
	--font-primary-display: 'CS Display';
}