@font-face {
font-family: 'SF Mono';
font-weight: 300;
font-style: normal;
src: url('SF-Mono-Light.woff2') format('woff2'), url('SF-Mono-Light.woff') format('woff')
}
@font-face {
font-family: 'SF Mono';
font-weight: 300;
font-style: italic;
src: url('SF-Mono-LightItalic.woff2') format('woff2'), url('SF-Mono-LightItalic.woff') format('woff')
}
@font-face {
font-family: 'SF Mono';
font-weight: 400;
font-style: normal;
src: url('SF-Mono-Regular.woff2') format('woff2'), url('SF-Mono-Regular.woff') format('woff')
}
@font-face {
font-family: 'SF Mono';
font-weight: 400;
font-style: italic;
src: url('SF-Mono-RegularItalic.woff2') format('woff2'), url('SF-Mono-RegularItalic.woff') format('woff')
}
@font-face {
font-family: 'SF Mono';
font-weight: 500;
font-style: normal;
src: url('SF-Mono-Medium.woff2') format('woff2'), url('SF-Mono-Medium.woff') format('woff')
}
@font-face {
font-family: 'SF Mono';
font-weight: 500;
font-style: italic;
src: url('SF-Mono-MediumItalic.woff2') format('woff2'), url('SF-Mono-MediumItalic.woff') format('woff')
}
@font-face {
font-family: 'SF Mono';
font-weight: 600;
font-style: normal;
src: url('SF-Mono-Semibold.woff2') format('woff2'), url('SF-Mono-Semibold.woff') format('woff')
}
@font-face {
font-family: 'SF Mono';
font-weight: 600;
font-style: italic;
src: url('SF-Mono-SemiboldItalic.woff2') format('woff2'), url('SF-Mono-SemiboldItalic.woff') format('woff')
}
@font-face {
font-family: 'SF Mono';
font-weight: 700;
font-style: normal;
src: url('SF-Mono-Bold.woff2') format('woff2'), url('SF-Mono-Bold.woff') format('woff')
}
@font-face {
font-family: 'SF Mono';
font-weight: 700;
font-style: italic;
src: url('SF-Mono-BoldItalic.woff2') format('woff2'), url('SF-Mono-BoldItalic.woff') format('woff')
}
@font-face {
font-family: 'SF Mono';
font-weight: 900;
font-style: normal;
src: url('SF-Mono-Heavy.woff2') format('woff2'), url('SF-Mono-Heavy.woff') format('woff')
}
@font-face {
font-family: 'SF Mono';
font-weight: 900;
font-style: italic;
src: url('SF-Mono-HeavyItalic.woff2') format('woff2'), url('SF-Mono-HeavyItalic.woff') format('woff')
}