@font-face {
	font-family: 'CS Mono';
	font-weight: 300;
	font-style: normal;
	src: url('https://starjive.github.io/fonts/CS/CS-Mono/CS-Mono-Light.otf') format('opentype');
}

@font-face {
	font-family: 'CS Mono';
	font-weight: 300;
	font-style: italic;
	src: url('https://starjive.github.io/fonts/CS/CS-Mono/CS-Mono-LightItalic.otf') format('opentype');
}

@font-face {
	font-family: 'CS Mono';
	font-weight: 400;
	font-style: normal;
	src: url('https://starjive.github.io/fonts/CS/CS-Mono/CS-Mono-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'CS Mono';
	font-weight: 400;
	font-style: italic;
	src: url('https://starjive.github.io/fonts/CS/CS-Mono/CS-Mono-RegularItalic.otf') format('opentype');
}

@font-face {
	font-family: 'CS Mono';
	font-weight: 500;
	font-style: normal;
	src: url('https://starjive.github.io/fonts/CS/CS-Mono/CS-Mono-Medium.otf') format('opentype');
}

@font-face {
	font-family: 'CS Mono';
	font-weight: 500;
	font-style: italic;
	src: url('https://starjive.github.io/fonts/CS/CS-Mono/CS-Mono-MediumItalic.otf') format('opentype');
}

@font-face {
	font-family: 'CS Mono';
	font-weight: 600;
	font-style: normal;
	src: url('https://starjive.github.io/fonts/CS/CS-Mono/CS-Mono-Semibold.otf') format('opentype');
}

@font-face {
	font-family: 'CS Mono';
	font-weight: 600;
	font-style: italic;
	src: url('https://starjive.github.io/fonts/CS/CS-Mono/CS-Mono-SemiboldItalic.otf') format('opentype');
}

@font-face {
	font-family: 'CS Mono';
	font-weight: 700;
	font-style: normal;
	src: url('https://starjive.github.io/fonts/CS/CS-Mono/CS-Mono-Bold.otf') format('opentype');
}

@font-face {
	font-family: 'CS Mono';
	font-weight: 700;
	font-style: italic;
	src: url('https://starjive.github.io/fonts/CS/CS-Mono/CS-Mono-BoldItalic.otf') format('opentype');
}

@font-face {
	font-family: 'CS Mono';
	font-weight: 900;
	font-style: normal;
	src: url('https://starjive.github.io/fonts/CS/CS-Mono/CS-Mono-Heavy.otf') format('opentype');
}

@font-face {
	font-family: 'CS Mono';
	font-weight: 900;
	font-style: italic;
	src: url('https://starjive.github.io/fonts/CS/CS-Mono/CS-Mono-HeavyItalic.otf') format('opentype');
}

:root {
	--font-primary-mono: 'CS Mono';
}