@font-face {
	font-family: 'CS Mono';
	font-weight: 300;
	font-style: normal;
	src: url('https://starjive.github.io/fonts/CS/CS-Mono-Light.woff2') format('opentype')
}

@font-face {
	font-family: 'CS Mono';
	font-weight: 300;
	font-style: italic;
	src: url('https://starjive.github.io/fonts/CS/CS-Mono-LightItalic.woff2') format('opentype')
}

@font-face {
	font-family: 'CS Mono';
	font-weight: 400;
	font-style: normal;
	src: url('https://starjive.github.io/fonts/CS/CS-Mono-Regular.woff2') format('opentype')
}

@font-face {
	font-family: 'CS Mono';
	font-weight: 400;
	font-style: italic;
	src: url('https://starjive.github.io/fonts/CS/CS-Mono-RegularItalic.woff2') format('opentype')
}

@font-face {
	font-family: 'CS Mono';
	font-weight: 500;
	font-style: normal;
	src: url('https://starjive.github.io/fonts/CS/CS-Mono-Medium.woff2') format('opentype')
}

@font-face {
	font-family: 'CS Mono';
	font-weight: 500;
	font-style: italic;
	src: url('https://starjive.github.io/fonts/CS/CS-Mono-MediumItalic.woff2') format('opentype')
}

@font-face {
	font-family: 'CS Mono';
	font-weight: 600;
	font-style: normal;
	src: url('https://starjive.github.io/fonts/CS/CS-Mono-Semibold.woff2') format('opentype')
}

@font-face {
	font-family: 'CS Mono';
	font-weight: 600;
	font-style: italic;
	src: url('https://starjive.github.io/fonts/CS/CS-Mono-SemiboldItalic.woff2') format('opentype')
}

@font-face {
	font-family: 'CS Mono';
	font-weight: 700;
	font-style: normal;
	src: url('https://starjive.github.io/fonts/CS/CS-Mono-Bold.woff2') format('opentype')
}

@font-face {
	font-family: 'CS Mono';
	font-weight: 700;
	font-style: italic;
	src: url('https://starjive.github.io/fonts/CS/CS-Mono-BoldItalic.woff2') format('opentype')
}

@font-face {
	font-family: 'CS Mono';
	font-weight: 900;
	font-style: normal;
	src: url('https://starjive.github.io/fonts/CS/CS-Mono-Heavy.woff2') format('opentype')
}

@font-face {
	font-family: 'CS Mono';
	font-weight: 900;
	font-style: italic;
	src: url('https://starjive.github.io/fonts/CS/CS-Mono-HeavyItalic.woff2') format('opentype')
}

:root {
	--font-primary-mono: 'CS Mono';
}